# --- Node / Angular ---
node_modules/
dist/

# --- Java / Spring Boot ---
target/
*.class
*.jar
*.war
*.log

# --- IDEs ---
.idea/
.vscode/
*.iml
out/

# --- Archivos del sistema ---
.DS_Store
Thumbs.db
.env
AppData/
